body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 20px;
  text-align: center;
}

.dark-mode {
  background-color: black;
  color: white;
}


.btn:hover {
  border-color: black
}

